[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
lxml = "*"

[dev-packages]
pytest-asyncio = "*"
aresponses = "*"
pylint = "*"
tox = "*"
twine = "*"
detox = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
asynctest = "*"
codecov = "*"
coverage = "*"
mock = "*"
"flake8" = "*"
mypy = "*"
bandit = "*"
pre-commit = "*"
