[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
aiohttp = "*"
pytest-asyncio = "*"
aresponses = "*"

[dev-packages]
tox = "*"
twine = "*"
detox = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
asynctest = "*"
codecov = "*"
coverage = "*"
mock = "*"
"flake8" = "*"
mypy = "*"

[requires]
python_version = "3.6"
